<template>
  <div class="card">
    <div class="content">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Id</label>
              <input type="number" class="form-control" placeholder="Staff Id" v-model="id" />
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" placeholder="Staff Name" v-model="name" />
            </div>
          </div>
          <div class="col-md-12">
            <button class="btn btn-success btn-fill btn-block" @click="insertNewUser">
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="card-body">
        <vue-good-table :columns="columns" :rows="rows" styleClass="vgt-table striped" :sort-options="{
          enabled: true,
          initialSortBy: {field: 'userId', type: 'asc'}}" :search-options="{
            enabled: true
          }">
          <template slot="table-column" scope="colScope">
            <span class="pull-left" v-if="colScope.column.field =='userId'">
              {{ colScope.column.label }}
            </span>
            <span v-else> {{ colScope.column.label }} </span>
          </template>
          
          <template slot="table-row" scope="docScope">
            <span class="pull-left" v-if="docScope.column.field == 'userId'">
              {{docScope.row.userId}}
            </span>
            <span class="pull-left" v-if="docScope.column.field == 'staffName'">
              {{docScope.row.staffName}}
            </span>
            </template>
        </vue-good-table>
      </div>
    </div>
  </div>
</template>

<script src="./adduser.ts"></script>