<template>
  <div>
    <div class="card">
      <div class="content">
        <file-pond name="test" ref="pond" label-idle="Drop files here..." allow-multiple="true" accepted-file-types="image/jpeg, image/png"
          v-bind:files="myFiles" />
        <button class="btn btn-primary btn-block btn-sm" @click="upload">Upload</button>
      </div>
    </div>
    <div class="v-card__text">
      <div class="content">
        <vue-good-table
        :columns="columns"
        :rows="rows"
        styleClass="vgt-table striped"
        :sort-options="{
          enabled: true,
          initialSortBy: {field: 'userId', type: 'asc'}}"
        :search-options="{
            enabled: true
          }"
        >
        <template slot="table-column" scope="colScope">
          <span class="pull-left" v-if="colScope.column.field =='userId'">
            {{ colScope.column.label }}
          </span>
          <span v-else> {{ colScope.column.label }} </span>
        </template>
        
        
        <template slot="table-row" scope="docScope">
          <span class="pull-left" v-if="docScope.column.field == 'userId'">
            {{docScope.row.userId}}
          </span>
          <span class="pull-left" v-if="docScope.column.field == 'staffName'">
            {{docScope.row.staffName}}
          </span>
          <span class="pull-right" v-if="docScope.column.field == 'dateTime'">
            {{docScope.row.dateTime}}
          </span>
        </template>
        
      </vue-good-table>
    </div>
    </div>
  </div>
</template>

<script src="./filedrop.ts"></script>